body {
  font-family: "Poppins", sans-serif;
}
.padding {
  padding-top: 30px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.burger-bar {
  display: none;
  color: white;
}
.navigation {
  max-width: 662px;
  width: 100%;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  font-weight: 600;
}
.main-logo {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  font-weight: 700;
  line-height: 21px;
}
.active {
  color: #5863f8;
}
.background-image {
  background-image: url(../img/bg-image.png);
  max-width: 1366px;
  width: 100%;
  height: 324px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.background-image::before {
  content: "";
  height: 324px;
  width: 100%;
  background-color: #000;
  opacity: 60%;
  position: absolute;
}

.contact-block {
  max-width: 177px;
  width: 100%;
  display: flex;
  margin-top: 95px;
  margin-left: 139px;
  position: absolute;
}
.big-contact {
  font-size: 42px;
  font-weight: 800;
  color: white;
}
.small-block {
  max-width: 130px;
  width: 100%;
  display: flex;
  margin-top: 169px;
  margin-left: 139px;
  position: absolute;
}
.home-block {
  display: flex;
}
.home {
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.divider {
  display: flex;
  margin-right: 16.5px;
  margin-left: 14.5px;
}
.small-contact-block {
  display: flex;
}
.small-contact {
  font-size: 14px;
  font-weight: 500;
  color: white;
}
/* map */
.map-container {
  max-width: 1366px;
  width: 80%;
  margin: 0 auto;
}
.map {
  max-width: 1366;
  height: 286px;
  margin-top: 50px;
  position: relative;
}
.map::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 30%;
  position: absolute;
}
.map-image {
  /* max-width: 1600px; */
  width: 100%;
  height: 100%;
}
/* contact headers */
.header1 {
  margin-top: 56px;
  margin-left: 139px;
}
.header-contact1 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5863f8;
}
.header2 {
  max-width: 378px;
  width: 100%;
  margin-top: 0px;
  margin-left: 139px;
}
.header-contact2 {
  font-size: 42px;
  font-weight: 800;
  color: black;
  line-height: 56px;
}
/* input forms */
.input-form {
  max-width: 352px;
  width: 100%;
  height: 60px;
  border-width: 2px;
  border-color: #e8e8e8;
  background-color: #f8f8f8;
}
.btn {
  display: flex;
  max-width: 352px;
  width: 100%;
  height: 60px;
  background-color: #5863f8;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 16px;
  padding-top: 20px;
  padding-left: 145px;
}
.fa-paper-plane {
  display: flex;
  margin-left: 10.4px;
}

.btn:hover {
  cursor: pointer;
  background-color: RoyalBlue;
}
.main-input-wrapper {
  display: flex;
  max-width: 448px;
  width: 100%;
  margin-top: 50px;
  margin-left: 16px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  max-width: 448px;
  width: 100%;
}
.input-form::placeholder {
  color: #cecece;
  font-size: 13px;
}

.small-wrapper {
  margin-top: 16px;
}
.input-form:focus {
  outline: none;
}
.textarea-wrapper {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin-top: 50px;
  margin-left: 139px;
}
.textarea-form {
  width: 100%;
  height: 288px;
  resize: none;
  border: 2px solid #e8e8e8;
  background: #f8f8f8;
  font-size: 13px;
  color: #cecece;
}
.textarea-form:focus {
  outline: none;
}
.contant-input-wraper {
  display: flex;
  max-width: 1600px;
  width: 100%;
}

.contact-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.blue-circle {
  width: 59px;
  height: 58px;
  border-radius: 50%;
  background-color: #5863f8;
  position: relative;
}
.contact-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.blue-contact-wrapper {
  display: flex;
  justify-content: space-between;
}
.contact-info {
  max-width: 362px;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.contact-sub {
  text-align: center;
  font-size: 18px;
  font-weight: 600px;
  line-height: 27px;
}
.contact-description {
  text-align: center;
  max-width: 362px;
  width: 100%;
  color: #b1b1b1;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.section2-header {
  margin-top: 90px;
  margin-left: 139px;
}
.header-contact3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5863f8;
}
.header4 {
  max-width: 565px;
  width: 100%;
}
.header-contact4 {
  font-size: 42px;
  font-weight: 800;
  color: black;
  line-height: 56px;
}
.image-block {
  display: flex;
  justify-content: space-between;
}

/* footer */
.footer-wrapper {
  width: 100%;
  height: 393px;
  background-color: black;
}
.footer-block {
  display: flex;
}
.footer-logo {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  color: white;
}
.footer-text {
  font-size: 14px;
  color: #b1b1b1;
  line-height: 21px;
  margin-top: 20px;
}
.first-block {
  max-width: 260px;
  width: 100%;
  height: 191px;
  margin: 90px 0 0 139px;
}
.footer-icons {
  display: flex;
  margin-top: 20px;
}
.logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3b5998;
  position: relative;
}
.logo:nth-child(2) {
  background: #55acee;
  margin: 0 10.6px 10.4px;
}
.logo:nth-child(3) {
  background: #dc4e41;
}
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-right-block {
  display: flex;
  justify-content: space-between;
  max-width: 567px;
  width: 100%;
  margin-top: 90px;
  margin-left: 200px;
}

.second-ft {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #5863f8;
  font-weight: 500;
}
.ft-ul {
  margin-top: 20px;
  line-height: 21px;
}
.small-footer-logo {
  font-size: 18px;
  width: 100%;
  font-weight: 600;
  color: #ffffff;
  line-height: 27px;
}

.ft-li {
  margin-bottom: 10px;
}
.log {
  color: #5863f8;
  margin-right: 14px;
}
.second-ftr {
  font-size: 14px;
  font-weight: 600;
  color: white;
  line-height: 21px;
}

.copyright {
  font-size: 14px;
  line-height: 21px;
  color: #b1b1b1;
}

.ft-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-left: 139px;
}
.copyright-site {
  font-size: 14px;
  font-weight: 600;
  color: #5863f8;
  margin-right: 139px;
}
.last-ul {
  margin-top: 20px;
  line-height: 21px;
}
.ft-li2 {
  margin-bottom: 20px;
}
